.review-products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px 60px;
    margin: 0 40px;
    gap: 40px;
    justify-content: center;
    .reviewer-container{
        display: flex;
        flex-direction: row;
        // min-width: 400px;
        max-width: 580px;
        .reviewer-avatar{
            img{
                width: 150px;
                border-radius: 50%;
                padding: 0 15px;
            }
        }
        .detail-review{
            padding: 4px 15px;
            .detail-review-text{
                font-size: 14px;
                color: #707070;
                line-height: 24px;
            }
            .detail-name-reviewer{
                padding-top: 12px;
                font-size: 13px;
                line-height: 22px;
                font-weight: 600;
            }
        }
    }
}