.banner-container{
    .banner-1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 15px;
        img{
            max-width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
    .banner-2{
        background-image: url(../../../assets/image/banner-02.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            padding: 12%;
            cursor: pointer;
        }
    }
}



